body {}

/*
.row
.col-sm-4
.col-sm-6
.col-sm-10
.col-sm-12 {
    
    margin-top: 25px;
    
}
*/


/* background-image: linear-gradient(-20deg, rgb(68, 129, 235, 0.1), rgb(4, 190, 254, 0.5)), url("Images/299-08-blue-tech-hexagons-connect.jpg");*/

.responsive {
    width: 100%;
    height: auto;
}

.parallaxTop {
    /* The image used */
    background-image: url("images/Cubes.jpg");
    width: ;

    /* Set a specific height */
    min-height: 20vh;
    min-width: 1vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallaxAbout {
    /* The image used */
    background-image: linear-gradient(-20deg, rgb(68, 129, 235, 0.1), rgb(4, 190, 254, 0.5)), url("images/Servers.jpg");
    border-radius: 100%;
    font-size: 30px;
    color: #fff;
    line-height: ;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}


.parallaxMid {
    /* The image used */
    background-image: url("images/Cubes.jpg");



    /* Set a specific height */
    min-height: 20vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blockBtn {

    display: inline-block;

}

.iconSize {

    font-size: 3em;

}
