body {}

/*
.row
.col-sm-4
.col-sm-6
.col-sm-10
.col-sm-12 {
    
    margin-top: 25px;
    
}
*/


/* background-image: linear-gradient(-20deg, rgb(68, 129, 235, 0.1), rgb(4, 190, 254, 0.5)), url("Images/299-08-blue-tech-hexagons-connect.jpg");*/
.responsive {
    width: 100%;
    height: auto;
}


.navbar ul li a:hover {

    /*    color: #FFDB6A !important;*/
    color: #FFDB6A !important;
    text-decoration: none;
     !important;

}

.navbar a:hover {

    color: #FFDB6A !important;
    text-decoration: none;
     !important;

}

a.text-info:hover {

    color: #FFDB6A !important;
    text-decoration: none;
     !important
}

a.social-media-link-fb:hover {

    color: #4267B2 !important;
    text-decoration: none;
     !important;

}

a.social-media-link-tw:hover {

    color: #71C9F8 !important;
    text-decoration: none;
     !important;

}

a.social-media-link-li:hover {

    color: #0073B0 !important;
    text-decoration: none;
     !important;

}

a.social-media-link-ig:hover {

    color: #FFDB6A !important;
    text-decoration: none;
     !important;

}

a.blockBtn:hover {

    text-decoration: none;

}


.blockBtn {
/*PREVENTS CONTACT BUTTON FROM HALFWAY WRAPPING IN MD VIEWPORT*/
    display: inline-block;


}



.parallaxTop {
    /* The image used */
    background-image: url("images/Cubes.jpg");
    

    /* Set a specific height */
    min-height: 20vh;
    min-width: 1vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.parallaxAboutSection {
    /* The image used */
    background-image:  linear-gradient(-20deg, rgb(0, 0, 0, 1), rgb(4, 190, 254, 0.5)), url("images/Cubes.jpg");
    color: #fff;
    /* Set a specific height */
    min-height: 20vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.carousel-caption {
    top: 0;
    bottom: auto;
}


.parallaxMid {
    /* The image used */
    background-image: url("images/Cubes.jpg");



    /* Set a specific height */
    min-height: 20vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.iconSize {

    font-size: 3em;

}


/*prevents the network managment label from going to new line on medium sized viewports*/

/*
.noWrap {
    
     white-space: nowrap;
}
*/
