

body {
    


}

.responsive {
  width: 100%;
  height: auto;
}

.parallaxTop {
    /* The image used */
    background-image: url("images/Cubes.jpg");



    /* Set a specific height */
    min-height: 20vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxMid {
    /* The image used */
    background-image: url("images/Cubes.jpg");



    /* Set a specific height */
    min-height: 20vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-aptech:active{
    color: 38C0C4;
}
btn-aptech:hover{
background-color: 38C0C4;
}
btn-aptech:focus{
background-color: 38C0C4;
}